body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to right top, #beebdd, #aee8e5, #a3e4ef, #9fdef9, #a5d7ff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  position: relative;
  top: 100px;
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  border: 2px solid #ececec;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #444444;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0 0 5px 0;
  text-align: left;
  margin-left: 30px;
}

.title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
}

.addon {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  color: #51a7b8;
}

.date-picker {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  padding-left: 30px;
  background-color: white;
  box-shadow: none;
  border: 1px solid #51a7b8;
  border-radius: 2px;
}
